.card {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    display: inline-block;
    margin: 28px;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.8s, box-shadow 0.3s; /* Add box-shadow transition */
    transform-style: preserve-3d;
    border-radius: 50%;
}

.card:hover .card-inner {
    transform:  scale(1.05); /* Add scale effect */
    cursor: pointer;
}

.front {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background-color: white;
    border-radius: 50%;
}

.front img {
    width: 330px;
    height: 200px;
    border-radius: 20px;
    display: inline-block;
    background-color: white;
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.2);
}

.front p {
    font-size: x-large;
    font-weight: bolder;
    padding: 24px 20px;
    color: #337ccf;
    text-align: center;
    text-decoration: none;
}